#categories {
	clear: both;
	width: 940px;
	height: 32px;
	padding: 8px 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	margin-bottom: 17px;
}

#categories ul > li.cat:hover a {
	color: #fff;
	background: #458698;
}

